* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Poppins";
}

:root {
  /* BACKGROUND COLOR */
  --main-bg-color: #000000; /* rgb(0, 0, 0) */
  --tool-color: #cf0a0a; /* rgb(207, 10, 10) */

  /* TEXT COLOR */
  --text-color: #eeeeee; /* rgb(238, 238, 238) */

  /* FONT SIZE */
  --main-font-size: clamp(10px, 15vw, 14px);
}

html {
  /* height: 100%; */
  width: 100%;
}

body {
  background-color: var(--main-bg-color);
  width: 100%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kavoon";
  src: url("/assets/fonts/Kavoon.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rakkas";
  src: url("/assets/fonts/Rakkas.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

/********** MAIN GRID CONTAINER ***********/

.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr auto;
  gap: 1px;
  /* max-width: 1920px; */
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.grid_item {
  position: relative;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1;
}

.main {
  grid-column: 1 / -1;
  grid-row: 2;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3;
}

@media (max-width: 1024px) {
  .grid_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid_container {
    grid-template-columns: 1fr;
  }
}
