* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
  font-family: "Poppins";
}

:root {
  /* BACKGROUND COLOR */
  --main-bg-color: #021526; /* rgb(2, 21, 38) */
  --secondary-bg-color: #03346e; /* rgb(3, 52, 110) */

  /* TEXT COLOR */
  --main-text-color: #f8fafc; /* rrgb(248, 250, 252) */
  --hover-color: #6eacda; /* rrgb(110, 172, 218)*/
  --text-color-white: #ffffff;

  /* FONT SIZE */
  --main-font-size: clamp(10px, 15vw, 14px);
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--main-bg-color);
  display: grid;
  place-items: center;
  position: relative;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

/********** MAIN GRID CONTAINER ***********/

.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr auto;
  gap: 1px;
  max-width: 1920px;
  width: 100%;
  /* position: relative; */
}

.header {
  grid-column: 1 / -1;
  /* height: 100vh; */
  /* position: relative; */
}

.main {
  grid-column: 1 / -1;
  /* grid-row: span 3 / span 3;
  grid-row-start: 2; */
  /* height: 100vh; */
}

.footer {
  grid-column: 1 / -1;
  /* grid-row-start: 5; */
  /* height: 20vh; */
}

.grid_item {
  height: 100vh;
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
