header {
  height: 100vh;
  position: relative;
}

.header__container {
  border: 1px solid red;
  display: flex;
}

.header__container-left {
  border: 1px solid blue;
  width: 50%;
}

.header__container-right {
  border: 1px solid brown;
  width: 50%;
}
