header {
  height: 100vh;
  position: relative;
}

.header__container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  border: 1px solid red;
}

/* .header__logo {
  border: 1px solid red;
  width: 100%;
  display: flex;
  
  justify-content: flex-end;
  margin: 15px 10px 0 0;
}

.logo__title,
span {
  text-transform: uppercase;
  font-size: clamp(2rem, 10vw, 6rem);
  font-family: "Kavoon";
  letter-spacing: 3px;

  span {
    color: var(--tool-color);
  }
} */

.header__image-wrapper {
  border: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center center;
    object-fit: cover;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
  }
}

.header__image-wrapper img.active {
  opacity: 1;
}

.header__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  p {
    z-index: 10;
  }
}
