header {
  height: 100vh;
  position: relative;
}

.header__container {
  display: flex;
}

.header__logo {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 15px 10px 0 0;
}

.logo__title {
  text-transform: uppercase;
  font-size: 4rem;
}
