header {
  height: 100vh;
  position: relative;
}

.header__container {
  border: 1px solid red;
  display: flex;
  height: 100vh;
}

.header__container-left {
  border: 1px solid blue;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container-right {
  border: 1px solid brown;
  width: 50%;
}
