header {
  height: 100vh;
  position: relative;
}

/* ===== HEADER CONTAINER ===== */

.header__container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  width: 100%;
  position: absolute;
  top: 0;
}

.header__logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

.logo__title,
span {
  text-transform: uppercase;
  font-size: clamp(2rem, 10vw, 4rem);
  font-family: "Kavoon";
  letter-spacing: 3px;

  span {
    color: var(--tool-color);
  }
}

.header__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center center;
    object-fit: cover;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
  }
}

.header__image-wrapper img.active {
  opacity: 1;
}

.header__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  p {
    z-index: 10;
  }
}

/* ===== HERO CONTAINER ===== */

.hero {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.hero__title,
.hero__sub-title {
  font-family: "Rakkas", sans-serif;
  text-transform: uppercase;
}

.hero__title {
  font-size: clamp(2.5rem, 8.5vw, 8rem);
}

.hero__sub-title {
  font-size: clamp(2rem, 6.5vw, 6rem);
}

.hero__description {
  font-size: clamp(0.8rem, 1.5vw, 2rem);
}

.hero__btn {
  color: var(--tool-color);
  background-color: transparent;
  font-family: "Rakkas";
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: 180px;
  height: 50px;
  margin-top: 3em;
  border-radius: 5px;
  border: none;
  outline: 2px solid var(--tool-color);
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.hero__btn:hover {
  transform: scale(1.1);
}

.hero__btn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(45deg);
  transition: width 1s;
  z-index: -1;
  background-color: var(--text-color);
}

.hero__btn:hover::before {
  width: 250%;
}
/* ===== MEDIA QUERIES ===== */

@media (min-width: 1024px) {
  .header__content {
    display: none;
  }
}
