main {
  position: relative;
  width: 100%;
}

.main__container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  perspective: 2px;
  perspective-origin: center;
}

.main__para-section {
  position: relative;
  width: 100%;
  height: 100vh;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.main__para-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-1px) scale(1.6);
  transform-origin: center;
}
