main {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main__section {
  flex: 1 1 384px;
  transition: 0.3s ease-in-out;
  position: relative;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__section:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

.section__girl {
  background: url("/assets/images/main/img01.webp") no-repeat center center /
    cover;
  filter: grayscale(70%);
  text-align: center;
}

.section__text {
  text-align: center;

  h3 {
    font-size: clamp(12px, 12vw, 30px);
    font-family: "Rakkas";
    letter-spacing: 1.5px;
  }
}

.section__boy {
  background: url("/assets/images/main/img02.webp") no-repeat center top / cover;
  filter: grayscale(70%);
}

@media (max-width: 767px) {
  .main__section {
    height: 50vh;
  }
}
