main {
  position: relative;
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.main__container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.main__section {
  flex: 1 1 384px;
  transition: 0.3s ease-in-out;
  position: relative;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__section:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

.section__girl {
  background: url("/assets/images/main/img01.webp") no-repeat center center /
    cover;
  filter: grayscale(70%);
  text-align: center;
}

.section__text {
  text-align: center;
  max-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: clamp(12px, 12vw, 30px);
    font-family: "Rakkas";
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  p {
    font-size: clamp(9px, 7vw, 10px);
    width: 300px;
  }

  .main__btn {
    color: var(--tool-color);
    background-color: transparent;
    font-family: "Rakkas";
    font-size: clamp(0.7rem, 5vw, 1rem);
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: clamp(130px, 10vw, 180px);
    height: 50px;
    margin-top: 3em;
    border-radius: 5px;
    border: none;
    outline: 2px solid var(--tool-color);
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }

    &::before {
      content: "";
      position: absolute;
      left: -50px;
      top: 0;
      width: 0;
      height: 100%;
      transform: skew(45deg);
      transition: width 1s;
      z-index: -1;
      background-color: var(--text-color);
    }

    &:hover::before {
      width: 250%;
    }
  }
}

.section__boy {
  background: url("/assets/images/main/img02.webp") no-repeat center top / cover;
  filter: grayscale(70%);
}

.feature__container {
  border: 1px solid red;
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  .main__section {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .main__section {
    height: 100%;
  }
}

@media (max-width: 1023.98px) {
  .main__container {
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .main__container {
    height: 100%;
  }
}
