nav {
  position: relative;
  height: 100%;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10px;
  gap: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav__links {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  width: 12em;
  height: 3em;
  padding: 5px 5px;
  align-content: center;
  list-style: none;
  text-align: center;
  cursor: pointer;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  transition: 0.7s ease-in-out;
  box-shadow: inset 0 0 0 #ecb365;
}

.nav__links:hover {
  box-shadow: inset 0 0 25px 25px #ecb365;
}

.nav__name {
  margin-right: auto;
}

.nav__contact {
  width: 10em;
  height: 3em;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  font-weight: 800;
  font-size: var(--main-font-size);
}

.nav__contact:hover {
  width: 15em;
  cursor: pointer;
}
