nav {
  position: relative;
  height: 100%;
  border: 1px solid red;
  width: 100%;
}

/* ===== HAMBURGER MENU ===== */

.burger {
  border: 1px solid red;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--main-bg-color);
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  z-index: 100;
}

.burger span {
  width: 25px;
  height: 3px;
  background-color: white;
}

.burger__menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: var(--main-bg-color);
  /* color: white; */
  transition: right 0.3 ease;
  padding: 80px;
}

.burger__menu.active {
  right: 0;
}

.burger__menu-list {
  list-style-type: none;
}

.burger__menu-items {
  padding: 15px;
  color: var(--main-text-color);
  cursor: pointer;
}

/* 
.burger span:nth-of-type(1) {
  top: 0px;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform: translateY(-100%);
}

.burger:checked ~ span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.burger checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
.burger:checked ~ span:nth-of-type(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
} */
