nav {
  position: relative;
  z-index: 999;
}

/* ===== HAMBURGER MENU ===== */

.burger {
  position: fixed;
  top: 20px;
  left: 20px;
  width: clamp(40px, 10vw, 80px);
  height: clamp(40px, 10vw, 80px);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  z-index: 100;
}

.burger span {
  width: clamp(30px, 10vw, 40px);
  height: 5px;
  background-color: var(--text-color);
  transition: all 0.3s ease;
}

.burger.active span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
  background-color: var(--tool-color);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
  background-color: var(--tool-color);
}

.burger__menu {
  position: fixed;
  top: 0;
  left: -100%;
  /* width: clamp(50vw, 50%, 100vw); */
  width: 40%;
  height: 100vh;
  background: transparent;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  border: 1px solid var(--tool-color);
  border-left: none;
  border-radius: 0 10px 10px 0;
}

.burger__menu.active {
  left: 0;
  /* transition: all 0.5s ease; */
}

.burger__menu-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.9em;
  position: relative;
  margin-top: 6em;
  width: 100%;
  margin-left: 1.8em;
}

.burger__menu-items {
  border: none;
  width: 100%;
  height: clamp(1rem, 3rem, 5rem);
  /* color: var(--main-text-color); */
  cursor: pointer;
  box-shadow: inset 0 0 0 #cf0a0a;
  transition: all 1s ease;
  padding-left: 1.1em;
  display: flex;
  align-items: center;
}

.burger__menu-links {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: clamp(10px, 5vw, 25px);
  text-transform: uppercase;
  font-weight: bolder;
}

.burger__menu-items:hover {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.burger__menu-items:hover,
.burger__menu-links:hover {
  box-shadow: inset 700px 0 0 #cf0a0a;
  color: var(--text-color);
  width: 100%;
}

.burger__menu-join {
  background: var(--tool-color);
  color: var(--main-bg-color);
  height: clamp(5vh, 10vw, 8vh);
  width: calc(100% - 2em);
  margin: 2em auto;
  box-shadow: inset 0 0 #eeeeee;
  transition: all 0.5s ease;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: "Rakkas", sans-serif;
  font-weight: 900;
  margin-top: auto;
  font-size: clamp(12px, 10vw, 20px);
}

.burger__menu-join:hover {
  color: var(--main-bg-color);
  border: 1px solid var(--tool-color);
  box-shadow: inset 700px 0 0 #eeeeee;
}

.nav__container {
  position: relative;
  width: 100%;
}

.nav__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-items {
  border: 1px solid red;
  list-style: none;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  width: 100%;
  flex-direction: row;
}

/* ====== MEDIA QUERIES ====== */

@media (max-width: 420px) {
  .burger__menu {
    width: 50%;
  }

  .burger__menu-list {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .burger__menu-list {
    margin-left: 1.5em;
  }
}

@media (max-width: 1023.98px) {
  .nav__container {
    display: none;
  }
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}
