nav {
  position: relative;
  height: 100%;
}

/* ===== HAMBURGER MENU ===== */

.burger__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 10px 10px;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  /* background-color: red; */
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform: translateY(-100%);
  /* background-color: pink; */
}

.burger input:checked ~ span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
.burger input:checked ~ span:nth-of-type(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* ===== DEKSTOP MENU ===== */

.nav__list {
  display: none;
  width: 100%;
}

.nav__link--wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10px;
  gap: 10px;
  position: relative;
  top: 0;
  width: 100%;
}

.nav__links {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  width: 12em;
  height: 3em;
  padding: 5px 5px;
  list-style: none;
  text-align: center;
  cursor: pointer;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  transition: 0.7s ease-in-out;
  box-shadow: inset 0 0 0 #ecb365;
  position: fixed;
  display: flex;
}

.nav__links:hover {
  box-shadow: inset 0 0 25px 25px #ecb365;
}

.nav__name {
  margin-right: auto;
}

.nav__contact {
  width: 10em;
  height: 3em;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  font-weight: 800;
  font-size: var(--main-font-size);
}

.nav__contact:hover {
  width: 15em;
  cursor: pointer;
}
